// Ayudas y Correciones

@mixin rem($font-size, $base-size: 100) {
    font-size: $font-size + px;
    font-size: ($font-size / $base-size * 100 / 16) + rem;
}

// Funcion Calcular Porcerntaje

@function cp($objetivo, $contenedor) {
    @return ($objetivo / $contenedor) * 100%;
}

// Clearfix

@mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Centrado Vertical

@mixin centrado-vertical {
    font-size: 0;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

@mixin bg-before{
    display: block;
    content: " ";
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    position: absolute;
}
@mixin afterline_bottom{
    content: "";
    display: block;
    background-color: $blue;
    width: 65px;
    height: 5px;
    border-radius: 2px;
    margin: 1rem auto 1rem; ;
}   

@mixin ContainerPAddingTop{
    padding-top: 20px;
    @media screen and (min-width: $tp) {
        padding-top: 40px;        
    }
    @media screen and (min-width: $d) {
        padding-top: 5rem;        
    }
}
@mixin ContainerPAddingBottom{
    padding-bottom: 20px;
    @media screen and (min-width: $tp) {
        padding-bottom: 40px;        
    }
    @media screen and (min-width: $d) {
        padding-bottom: 5rem;        
    }
}
@mixin ContainerMargingTop{
    margin-top: 20px;
    @media screen and (min-width: $tp) {
        margin-top: 40px;        
    }
    @media screen and (min-width: $d) {
        margin-top: 5rem;        
    }
}
@mixin ContainerMargingBottom{
    margin-bottom: 20px;
    @media screen and (min-width: $tp) {
        margin-bottom: 40px;        
    }
    @media screen and (min-width: $d) {
        margin-bottom: 5rem;        
    }
}

@mixin buttostyle1 {
    font-size: 15px;
    display: block;
    width: 80px;
    line-height: 26px;
    color: $blue;
    border: 1px solid $blue;
    bottom: 1.5rem;
    left: 1rem;
    text-align: center;
}

@mixin translateY($translateY){
    -webkit-webkit-transform: translateY($translateY);
    -moz-webkit-transform: translateY($translateY);
    -ms-webkit-transform: translateY($translateY);
    -o-webkit-transform: translateY($translateY);
    -webkit-transform: translateY($translateY);
    transform: translateY($translateY);
}
