// Variables viewport sugeridas (se puede eliminar si el proyecto no es reponsive)

// Puntos de quiebre
// Breakpoints
$mobile-portrait: 321px;
$mobile-medium: 412px;
$mobile-lanscape: 577px;
$tablet-small: 640px;
$tablet-portrait: 769px;
$tablet-medium: 900px;
$tablet-lanscape: 993px;
$desktop: 1024px;
$desktop-medium: 1100px;
$desktop-large: 1220px;

$mp: $mobile-portrait;
$mm: $mobile-medium;
$ml: $mobile-lanscape;
$ts: $tablet-small;
$tp: $tablet-portrait;
$tm: $tablet-medium;
$tl: $tablet-lanscape;
$d: $desktop;
$desk : $desktop-medium;
$desk-l : $desktop-large;

$lato: 'Lato', sans-serif;

// variable color
$blue:#253E7F;
$black: #1F2024;
$black-light: #484545;
$gray: #5E5E5E;
$gray2: #7C7C7C;
$gray-light1: #E5E5E5;
$gray-light2: #F7F7F7; //light1

// variable grid column
$col1: calc(100% / 12);
$col2: calc((100% / 12) * 2);
$col3: calc((100% / 12) * 3);
$col4: calc((100% / 12) * 4);
$col5: calc((100% / 12) * 5);
$col6: calc((100% / 12) * 6);
$col7: calc((100% / 12) * 7);
$col8: calc((100% / 12) * 8);
$col9: calc((100% / 12) * 9);
$col10: calc((100% / 12) * 10);
$col11: calc((100% / 12) * 11);
$col12: 100%;