
section.head_interna{
	.container{ 
		@include ContainerPAddingTop;
		@include ContainerMargingBottom;

		> p {
			font-size: 18px!important;
		}
	}
}
@mixin lineSeparator{
	&:before{
		content: "";
		display: block;
		width: 90%;
		height: 1px;
		background: black;
		position: absolute;
		top: 0;
		left: calc(50% - 45%);
		margin: auto;
	}
}
@mixin twocolumn{
	font-size: 0;
	padding-top: 20px;
	margin-bottom: 20px;
	position: relative;
	@media screen and (min-width: $tp) {
	    margin-bottom: 40px;
	    padding-top: 40px;        
	}
	@media screen and (min-width: $d) {
	    margin-bottom: 5rem;
	    padding-top: 5rem;        
	}
	.column_two{
		display: inline-block;
		vertical-align: middle;
		width: $col12;
		> h2 {
			margin-top: 1.5rem;
			&:after{
				@include afterline_bottom;
				margin-left: 0;
			}
			@media screen and (min-width: $tp){
				margin-top: 0;
			}
		}
		
		@media screen and (min-width: $tp) {
			width: $col6;
		}
	}
	&:nth-of-type(odd) {
		// background-color: red;
		.column_two{
			> h2, > p {
				@media screen and (min-width: $tp){
					padding-left: 2rem;
				}
			}
			> a {
				@media screen and (min-width: $tp){
					margin-left: 2rem;
				}
			}
		}
	}
	&:nth-of-type(even) {
		// background-color: green;
		.column_two{
			position: relative;
			@media screen and (min-width: $tp){
				> h2, > p {
					padding-right: 2rem;
				}
				&:nth-of-type(1n) {
					// background-color: brown;
					right: -50%;
				}
				&:nth-of-type(2n) {
					// background-color: white;
					left: -50%;
				}
			}
		}
	}
}
.row_{
	@include twocolumn;
}

section.mision-vision{
	.row_{
		@include lineSeparator;
		
	}	
}
section.nuestros-valores{
	background-color: $blue;
	@include ContainerPAddingTop;
	@include ContainerPAddingBottom;
	.nv_contenido{
		> h2{
			color: white; 
			text-align: center;
			@include ContainerPAddingBottom;
		}
		> ul {
			background-size: red;
			font-size: 0;
			text-align: center;
			.nv_card{
				margin: auto;
				display: inline-block;
				vertical-align: top;
				padding-right: .5rem;
				padding-left: .5rem;
				>figure , > p , .nv_card_title{
					width: 250px;
					max-width: 100%;
				}
				> figure{
					margin: 0;
					height: 120px;
					display: grid;
					> img {
						border: 0;
						margin: auto auto .5rem;
						width: auto !important;
					}
				}
				.nv_card_title{
					font-weight: bold;
					font-size: 25px;
					text-align: center;
					margin-bottom: 1rem;
					margin-top: 1rem;
					color: white;
				}
				> p {
					color: white!important;
					font-size: 20px;
					text-align: center;

				}
			}
		}
	}
}
section.nuestros-principios{
	@include ContainerMargingBottom;
	.row_{
		.column_two{
			> h2 {
				margin-top: 1.5rem;
				&:after{
					@include afterline_bottom;
					margin-left: 0;
				}
				@media screen and (min-width: $tp){
					margin-top: 0;
				}
			}
			> p {
				font-size: 25px;
				color: $blue!important;
				&:before{
					content: "“";
					color: red;
					display: inline-block;
					font-size: 40px;
					transform: translateY(15px);
				}
			}

		}
		&:nth-of-type(odd) {
			// background-color: red;
			.column_two{
				> h2, > p {
					@media screen and (min-width: $tp){
						padding-left: 2rem;
					}
				}
			}
		}	
	}
}