section.catalogo-alquiler{
	.container{
		font-size: 0;
		text-align: center;
		@include ContainerPAddingTop;
		@include ContainerMargingBottom;
		.columns_three{
			display: inline-block;
			width: $col12;
			vertical-align: top;
			margin-bottom: 1rem;
			.item-producto{
				border: 1px solid $blue;
				position: relative;
				> figure {
					width: 100%;
					display: block;
					margin: 0;
				}
				.text-producto{
					padding: 1rem;
					text-align: left;
					> h2 {
						font-size: 20px;
						color: $blue;
						margin-bottom: .5rem;
					}
					> p {
						font-size: 16px;
					}
					> a {
						@include buttostyle1;
						@media screen and (min-width: $ts) {
							position: absolute;							
						}
					}
				}
				@media screen and (min-width: $ts) {
					min-height: 480px;
					
				}
				@media screen and (min-width: $d) {
					min-height: 491px;					
				}
			}
			@media screen and (min-width: 425px) and (max-width: $ts) {
				width: $col10;
			}
			@media screen and (min-width: $ts) {
				width: $col6;
				&:nth-of-type(odd){
					padding-right: .5rem;
				}
				&:nth-of-type(even){
					padding-left: .5rem;
				}
			} 
			@media screen and (min-width: $d){
				width: $col4;
				margin-bottom: 0;
				&:nth-of-type(odd),
				&:nth-of-type(even){
					padding: .5rem;
				}			
			}
		}
		@media screen and (min-width: $ts){
			text-align: left;
		}
	}
}
