section.intropage{
	@include ContainerPAddingTop;
	@include ContainerPAddingBottom;
	.container{	
		> h2 {
			text-align: center;
			font-size: 25px;
			&:after{
				@include afterline_bottom;
			}
			@media screen and (min-width: $tp){
				font-size: 31px;
			}
		}
		> p {
			text-align: center;
			margin: 1.5rem 0;
			font-size: 16px;
			@media screen and (min-width: $tp){
				display: block;
				width: $col8;
				margin-top: 2rem;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
section.form_mainbox {
	background-color: $blue;
	.container{	
		@include ContainerPAddingTop;
		@include ContainerPAddingBottom;
		font-size: 0;
		.formcolumn{
			text-align: center;
			// background-color: green;
			.formcolum_item{
				// background-color: black;
				max-width: 400px;
				margin: auto;
				text-align: left;
				> h2 {
					 color: white;
				}
				> ul {
					margin-bottom: 1.5rem;
					margin-top: .5rem;
				}
			}
			@media screen and (min-width: $ts) {
				display: inline-flex;
				width: $col6;
				vertical-align: middle;				
			}
			&.left{
				// background-color: red;
				.formcolum_item{
					// background-color: red;
					> h2 {
						font-size: 20px;
					}
					> ul {
						&:nth-of-type(1n){
							position: relative;
							&:after{
								content: "";
								display: block;
								width: 100%;
								height: 2px;
								background-color: white;
								position: absolute;
								bottom: -.5rem;
								left: 0;
							}
						}
						&:nth-of-type(2n){
							position: relative;
							&:after{
								display: none;
							}
						}
					}
				}
			}
			&.right {
				.formcolum_item {
					> h2 {
						margin-bottom: 1.5rem;
					}
					> form {
						> input , > select , > textarea{
							font-size: 15px;
							width: 100%;
							line-height: 26px;
							margin-bottom: .5rem;
							border: 0;
							border-bottom: 1px solid white;
							background-color: transparent;
							color: white;
							padding-bottom: .5rem;
							&::-webkit-input-placeholder { /* Edge */
							  color: rgba(255,255,255,.5);
							}

							&:-ms-input-placeholder { /* Internet Explorer 10-11 */
							  color:  rgba(255,255,255,.5);
							}

							&::placeholder {
							  color:  rgba(255,255,255,.5);
							}
						}
						> select{
							> option {
								background-color: white;
								color: $blue;
								border: 0;
								outline: 0;
							}
						}
						> textarea {
							line-height: 20px;

						}
						.btn-formulario_contactenos{
							> input {
								display: none;
							}
							> label {
								display: block;
								font-size: 16px;
								color: white;
								border: 1px solid white;
								width: 100px;
								line-height: 35px;
								margin-top: 1.5rem;
								text-align: center;
								transition:  ease all .4s;
								> i {
									height: 19px;
									width: 0px;
									// background-color: red;
									overflow: hidden;
									display: inline-block;
									vertical-align: middle;
									transition:  ease all .4s;
									&:after,
									&:before {
										content: "";
										width: 10px;
										height: 2px;
										display: block;
										background-color: white;
										position: relative;
									}
									&:after{
										bottom: -10px;
										transform: rotate(-45deg);
									}
									&:before{
										bottom: -6px;
										transform: rotate(45deg);
									}
								}
								&:hover {
									transition:  ease all .4s;
									background-color: white;
									color: $blue;
									> i {
										width: 15px;
										margin-left: .5rem;
										transition:  ease all .4s;
										&:after,
										&:before{
											background-color: $blue;
										}
									}
								}
							}
						}
					}
				}
			}	 		
		}
	}
}

section.mapa-ubicacion-content{
	> iframe {
		width: 100%;
		height: 300px;
		border: 0;
		filter: grayscale(1);
		@media screen and (min-width: 769px) {
			height: 400px;			
		}
		@media screen and (min-width: 869px) {
			height: 600px;			
		}
	}
}


