.cabecera-banner-home{
	display: block;
	#slides{
		.slides-control{
			.slides-container{
				> li {
					.g-table{
						.g-table-cell{
							.container{
								color: white;
								font-size: 20px;
								font-weight: 600;
								text-align: center;
								.titulo{
									color: white;
								}
								@media screen and (min-width: 769px) {
									font-size: 40px;
								}
								@media screen and (min-width: 900px) {
									font-size: 60px;
								}
								@media screen and (min-width: 900px) {
									font-size: 70px;
								}
							}
						}
					}
				}
			}
		}
	}
}
section.servicios-home{
	display: block;
	position: relative;
	width: 100%;
	background-color: white;
	.container{
		@include ContainerPAddingTop;
		> h2 {
			text-align: center;
			&:after{
				@include afterline_bottom;
			}			
		}
		> p {
			width: $col12;
			text-align: justify;
			@media screen and (min-width: $ml){
				text-align: center;
				width: $col10;
				margin:  1rem auto 1rem;
			}
		}
		> .owl-carousel{
			overflow: hidden;
			margin-top: 40px;
			margin-bottom: 20px;
			// background: red;
			> .owl-stage-outer{
				.owl-stage{
					.owl-item{
						// background-color: orange;
						> .item{
							width: 300px;
							max-width: 100%;
							display: block;
							margin: auto;
							// background-color: blue;
							background-image: url('../images/home/bg-introhome.jpg');
							background-position: center;
							background-size: cover;
							border: 1px solid $gray-light1;
							position: relative;
							cursor: default;
							padding-top: 2rem;
							> figure{
								margin: auto;
								height: 100px;
								// background-color: $gray-light2;
								display: grid;
								width: 100px;
								position: relative;
								z-index: 2;
								position: relative;
								> img {
									display: block;
									vertical-align: bottom;
									width: 80px!important;
									// max-width: 90%!important;
								    margin: auto auto .5rem;
								    position: relative;
								    z-index: 2;
								    filter: brightness(10);
								}
								&:before,
								&:after{
									content: "";
									background-color: rgba(255,255,255,.8);
									display: block;
									position: absolute;
									width: 2px;
									height: 80%;;
									bottom: 0;
									z-index: 1;
								}
								&:before{
									left: 0;
								}
								&:after{
									right: 0;
								}
							}
							> div {
								display: grid;
								min-height: 50px;
								position: relative;
								z-index: 2;
								padding-bottom: 1rem;
								padding-top: 1rem;
								color: rgba(255,255,255,.95);
								> span {
									margin: auto;
									font-size: 18px;
									display: block;
									text-align: center;
								}
								.btn_vermas{
									display: block;
									width: 80px;
									line-height: 20px;
									color: white;
									margin: auto;
									border: 1px solid white;
									border-radius: 5px;
									font-size: 14px;
									text-align:  center;
									margin-top: 3rem;
									margin-bottom: 1rem;
									cursor: pointer;
								}
							}
							&:after{
								content: "";
								background-color: rgba(0,0,0,.6);
								display: block;
								position: absolute;
								width: 100%;
								height: 100%;
								left: 0;
								top: 0;
								z-index: 1;
							}
							@media screen and (min-width: 769px) {
								width: 400px;
							}
						}
					}
				}
			}
			> .owl-nav{
				position: absolute;
				top: calc(50% - 28px);
				width: 100%;
				.owl-prev, .owl-next{
					height: 56px;
					width: 35px;
					position: absolute;
					text-indent: -99999px;
				}
				.owl-prev{
					background-image: url('../images/home/btn-left.png');
					left: 0;
					@media screen and (min-width: $desk-l){
						left: -38px;
					}
				}
				.owl-next{
					background-image: url('../images/home/btn-right.png');
					right: 0;
					@media screen and (min-width: $desk-l){
						right:-35px;
					}
				}
			}
			@media screen and (min-width: $desk-l) {
				overflow: visible;
				margin-top: 60px;
				margin-bottom: 40px;
			}
		}
	}	
}
section.descripcion-home{
	position: relative;
	@include ContainerMargingTop;
	@include ContainerMargingBottom;
	.container{
		position: relative;
		.box-texdescripcion{
			display: inline-block;
			> h2 {
				&:after{ 
					@include afterline_bottom;
					margin-left: 0;
				}
			}
			p{
				display: block;
				color: $black-light!important;
				margin-bottom: 2rem;
				letter-spacing: 0.01em;
			}
			@media screen and (min-width: $tp){
				width: $col6;
				padding: 3rem 0;
			}
			@media screen and (min-width: $tm){
				padding-right: 10%;
			}
		}
		.bg-descripcionhome{
			width: $col12;
			height: 180px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: relative;
			z-index: -1;
			right: 0;
			top: 0;
			&:before{
				@include bg-before;
			}
			@media screen and (min-width: $mm) {
				height: 240px;
			}
			@media screen and (min-width: $ts) {
				height: 340px;
			}
			@media screen and (min-width: $tp){
				height: 100%;
				width: $col6;
				// display: inline-block;
				position: absolute;
			}
		}	
	}
}
section.contact-home{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-image: url('../images/home/bn-home-contact.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	
	.container{
		&:after{
			content: "";
			display: block;
			background: rgba(0,0,0,.4);
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
		}
		> h2 {

			text-align: center;
			color: white!important;
			// padding-top: 3rem;
			position: relative;
			z-index: 1;
			&:after{ 
				// @include afterline_bottom;
				// margin-left: 0;
			}
		}
		.content_boxcontact{
			font-size: 0;
			position: relative;
			z-index: 1;
			.article-box{
				position: relative;
				display: none !important;
				.content_imgContact{
					img.item_imgContact{
						width: 100%;
					}
				}
				.content_textContact{
					text-align: center;
					width: 514px;
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
					h2{
						color: $blue;
						font-size: 35px;
					}
					small{
						font-size: 20px;
					}
					@media screen and (min-width: 500px){
						text-align: left;
						
					}
					@media screen and (min-width: 769px){
						margin-right: 0;
					}
				}
			}
			.formulario-box{
				.form_typeHome{
					width: 408px;
					max-width: 100%;
					margin: 30px auto;

					.item_form{
						display: block;
						margin-bottom: 10px;
						position: relative;
						input,select,textarea{
							width: 100%;
							border: 0;
							// border-bottom: 2px solid $blue;
							background: transparent;
							padding: 0px 0 0px 5px;
							font-size: 14px;
							color: $blue;
							background: white;
							line-height: 30px;
							height: 30px;
							// &[placeholder]{
							// 	color: $gray;
							// }
							&::-webkit-input-placeholder { /* Edge */
							  color: rgba(37,62,127,.8);
							}

							&:-ms-input-placeholder { /* Internet Explorer 10-11 */
							  color: rgba(37,62,127,.8);
							}

							&::placeholder {
							  color: rgba(37,62,127,.8);
							}
						}
						textarea{
							line-height: 20px;
							height: 200px;
						}
						input.error,select.error{
							// border-bottom: 2px solid red;
							color: red;
							&::-webkit-input-placeholder { /* Edge */
							  color: red;
							}

							&:-ms-input-placeholder { /* Internet Explorer 10-11 */
							  color: red;
							}

							&::placeholder {
							  color: red;
							}
						}
						label.btn-label{
							background-color: transparent;
							border: 2px solid white;
							color: white;
							border-radius: .31rem;
							text-align: center;
							display: block;
							width: 189px;
							max-width: 100%;
							height: 40px;
							line-height: 40px;
							font-size: 16px;
							position: relative;
							transition: .5s;
							&:hover{
								color: $blue;
								background-color: white;
								transition: .5s;
							}
						}
						label{
							color: red;
							font-size: 15px;
							position: absolute;
							left: 0;
							bottom: -17px;
						}
						label.error{
							display: none !important;
						}
						> select{
							color: $blue;
							// font-size: 20px;
							> option{
								// background: $blue;
								// color: white;
								// font-size: 18px;
							}
						}
						
						&.btn_form_home{
							border: 0;
							margin: 25px auto 0;
							#form_home{
								display: none;
							}
							@media screen and (min-width: 500px){
								width: 200px;
							}
						}
					}
					@media screen and (min-width: 500px){
						.item_form{
							input,select,textarea{
								// font-size: 15px;
							}
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 1300px){
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
}