
section.formulario-contactenosBox {
	.container{
		padding: 4rem 0 2rem;
		> h4 {
			font-size: 25px;
			color: $blue;
			text-align: center;
			margin-bottom: 4rem;
		}
		> figure {
			margin: 0;
			width: $col8;
			display: none;
			> img {
				width: 100%;
			}
			@media screen and (min-width: 769px) {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.formulario_container{
			> h3 {
				font-size: 22px;
				width: 408px;
				max-width: 100%;
				margin: auto;
				color: $blue;
				font-weight: bold;
				margin-bottom: 2rem;
				padding: 0 15px;
			}

			> form {
				width: 408px;
				max-width: 100%;
				margin: auto;
				padding: 0 15px;
				.input_option {
					width: 100%;
					display: block;
					border: 0;
					color: $blue;
					border-bottom: 2px solid;
				    line-height: 40px;
				    margin-bottom: 5px;
				    font-size: 15px;
					&::-webkit-input-placeholder { /* Edge */
					  color: $blue;
					}

					&:-ms-input-placeholder {  //Internet Explorer 10-11 
					  color: $blue;
					}

					&::placeholder {
					  color: $blue;
					}
				}
				textarea.input_option{
					line-height: 20px;
				}

				select.input_option{
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
				}
				.btn-formulario_contactenos{
					> input {
						display: none;
					}
					> label {
						width: 189px;
						height: 50px;
						background-color: $blue;
						color: white;
						display: block;
						text-align: center;
						line-height: 50px;
						margin: 3rem auto 0;
						font-size: 16px;
					}
				}
			}
			@media screen and (min-width: 769px) {
				$-margin-left1: calc((100% / 12) - ( 100% / 12 ) * 2);
				display: inline-block;
				vertical-align: middle;
				width: $col4;
				box-shadow: 0 0 10px rgba(0,0,0,.7);
				padding:  2rem 0 3rem;
				background-color: white; 
				margin-left: $-margin-left1;
			}
		}
		@media screen and (min-width: 769px){
			font-size: 0;
		}
	}
}
section.contact-options{
	padding: 3rem 0 3rem;
	.container{
		font-size: 0;
		text-align: center;
		> div{
			display: inline-block;
			width: $col12;
			margin-bottom: 2rem;
			text-align: center;
			vertical-align: top;
			> figure {
				display: block;
				height: 80px;
			}
			ul.item_linkContact{
				text-align: center;
				> li {
					overflow-wrap: break-word;
					> a {
						font-size: 20px;
						display: block;
						@media screen and (min-width: 660px){
							display: inline-block;
						}
					}
				}
			}
			@media screen and (min-width: 660px) {
				&.phone_container,
				&.location_container{
					width: $col6;
				}
			}
			@media screen and (min-width: 1100px) {
				&.phone_container,
				&.location_container,
				&.mail_container{
					width: $col4;
				}
			}
		}
	}
}
section.mapa-ubicacion-content{
	> iframe {
		width: 100%;
		height: 300px;
		border: 0;
		filter: grayscale(1);
		@media screen and (min-width: 769px) {
			height: 400px;			
		}
		@media screen and (min-width: 869px) {
			height: 600px;			
		}
	}
}


