.btn{
	display: inline-block;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	&.btn-borde-white{
		border: 1px solid white;
		font-size: 20px;
		color: white;
		font-weight: 600;
		padding: 2% 4%;
		margin-top: 15px;
		&:hover{
			background: white;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
	&.btn-yellow{
		color: white;
		font-size: 20px;
		font-weight: 600;
		margin-top: 15px;
		padding: 1% 7%;
		text-transform: uppercase;
	}
}
