// Generales

* {
    -webkit-font-smoothing: antialiased; /* Sin bold en Mac. */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
p{
    font-size: 15px!important;
    line-height: 25px;
    color: $black!important;
    margin-bottom: 1rem!important;
}
@media screen and (max-width: 500px) {
    p{
        font-size: 18px;
    }
    
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
*:focus {
    outline: none;
}

body{
    background-color: white;
    overflow-x: hidden;
    font-size: 16px;
    font-family: $lato;
}


.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    img{
        width: 100% !important;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 0;
        padding-left: 0;
    }
}
.container-fluid{
    width: 1600px;
    max-width: 100%;
    margin: auto;
}
.icono {
    color: white;
    display: block;
    padding-top: .5rem;
    font-size: 12px;
    display: inline-block;
    padding: .5rem 0;
    > svg {
        margin-right: 0.25rem;
    }
}
.icono_only{
    display: inline-block;
    width: 30px;
    height: 30px;
    // background: white;
    // color: $blue;
    line-height: 28px;
    border: 1px solid white;
    text-align: center;
    margin-right: .5rem;
    font-size: 20px;
    border-radius: 50%;
    &:hover{
        background: white;
        color: $blue;
    }
}

$font-mobile: 25px;
$font-tablet: 29px;
$font-desktop: 31px;
h1,h2,h3,h4,h5,h6{
    
    font-size: $font-mobile;
    font-weight: bold;
    line-height: 1;
    color: $black;
    @media screen and (min-width: $d){
        font-size: $font-tablet;
    }
    @media screen and (min-width: $d) {
        font-size: $font-desktop;
    }
    // @include max-screen($d) {
    //     font-size:31px;
    // }
    > span{
        display: inline-block;
        font-size: $font-mobile;
        color: $blue;
        @media screen and (min-width: $d){
            font-size: $font-tablet;
        }
        @media screen and (min-width: $d) {
            font-size: $font-desktop;
        }
    }
}

.btn-primario{
    transition: ease all .3s;
    &:hover{
        color: white!important;
        background-color: $blue;
        transition: ease all .3s;
    }    
}
// ARREGLOS

section.baner-interna{
    background-size: cover;
    background-position: center;
    position: relative;
    &:after{
        background-color: rgba(0,0,0,.6);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .container{
        margin-top: auto;
        position: relative;
        height: 300px;
        z-index: 2;
        .titulo_interna{
            position: absolute;
            bottom: 3rem;
            > h2{
                color: white;
                font-size: 40px;
                margin-bottom: 1rem;
                @media screen and (min-width: $mm) {
                    font-size: 50px;
                }
                @media screen and (min-width: $ml) {
                    font-size: 60px;
                }
                @media screen and (min-width: $d) {
                    font-size: 72px;
                }
            }
            > ul {
                > li {
                    display: inline-block;
                    vertical-align: bottom;
                    color: white;
                    font-weight: bold;
                    margin-right: .5rem;
                    > a {
                        font-size: 16px;
                    }
                    &:after{
                        content: "/";
                        display: inline-block;
                        margin-left: .5rem;
                    }
                    &:last-child{
                        font-weight: normal;
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
        @media screen and (min-width: $tp) {
            height: 342px;
        }
    }
}
/*########################
# Cell Middle
########################*/
.g-table{
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
}

.g-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.select {
    background: #fff url("../images/icon-select.png") no-repeat 90% center;
    border-radius: 15px;
    border: 1px solid #bee1ff;
    overflow: hidden;
    width: 100%;
}
.select select {
    color: blue;
    padding: 7px 20px;
    width: 110%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*


/*
################### Animacion ####################
*/
.rocket {
    margin-top: 20px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

.arrow-home{
    display: block;
    width: 35px;
    height: 116px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    -webkit-animation: gFly 2.5s infinite;
    -moz-animation: gFly 2.5s infinite;
    -o-animation: gFly 2.5s infinite;
    -ms-animation: gFly 2.5s infinite;
    animation: gFly 2.5s infinite;
}