
footer.footer{
	background-color: $blue;
	color: white;
	padding: 20px 0;
	.content_footer{
		text-align: left;
		font-size: 0;
		.col_item_footer{
			padding: 1.5rem 0 0rem 0;
			display: inline-block;
			width: $col12;
			.logo-footer{
				width: 150px !important;
				max-width: 100% !important;
			}
			 > .text{
			 	> p{
			 		font-size: 15px;
			 		margin-top: 1rem;
			 		line-height: 16px;
			 		text-align: justify;
			 		color: white!important;
			 		@media screen and (min-width: $ts) {
			 			margin-top: 1.5rem;
			 		}
			 	}
				
			}
			.menu-navfooter{
				> li {
					> a {
						display: inline-block;
						padding: .5rem 0;
					}
				}
			}
			.menu_socialfooter{
				> li {
					display: inline-block;
					margin-bottom: .5rem;
				}
			}			
			h3{
				font-size: 18px;
				color: white;
			}
			> ul {
				margin-bottom: 1rem;
				> li {
					> a {
						font-size: 15px;
					}
				}
			}
			.menu_socialfooter{
				padding-top: .5rem;
			}
			
			@media screen and (min-width: $ts) {
				width: $col6;
				vertical-align: top;
				&:nth-child(even){
					padding-left: 40px;
				}
			}
			@media screen and (min-width: $tm) {
				width: $col3;
				padding: 0rem 0 0rem 0;
				
			}
			@media screen and (min-width: $tl){
				&:nth-child(1n){
					width: $col4;
					@media screen and (min-width: $desk){
						padding-right: 40px;
					}
				}
				&:nth-child(2n){
					width: $col2;
					@media screen and (min-width: $desk){
						padding-right: 0;
					}
				}
				&:nth-child(3n){
					width: $col4;
					@media screen and (min-width: $d) {
						padding-left: 30px;
					}
					@media screen and (min-width: $desk){
						padding-left: 40px;
						padding-right: 0;
					}

				}
				&:nth-child(4n){
					width: $col2;
					@media screen and (min-width: $desk){
						padding-right: 0;
					}
				}
			}
		}
	}
	@media screen and (min-width: $ts){
		padding: 40px 0;
	}
}
