
header{
	z-index: 10;
	// border-bottom: 4px solid white;
	position: fixed;
	top: 0;
	left: 0;
	width: $col12;
	transition: all ease .4s;
	.header_sup{
		// background-color: $blue;
		background-color: transparent;
		display: none;
		height: auto;
		// transition: all ease .4s;
		border-bottom: 1px solid white;
		.menu-contact-top{
			font-size: 0;
			text-align: right;
			> li {
				font-size: 14px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 1rem;
				text-align: left;
			}
		}
		@media screen and (min-width: $ml) {
			display: block;	
		}
	}
	.header_inf{
		background-color: transparent;
		transition: all ease .4s;
		padding-top: .5rem;
		padding-bottom: .5rem;
		.container{
			font-size: 0;
			.btn-burguernav,
			.logo-header,
			.nav_box-head {
				display: inline-block;
				vertical-align: middle;
			}
			.logo-header{
				width: $col6;
				> img {
					width: 142px !important;
					max-width: 100% !important;
					filter: brightness(10);
				}
				@media screen and (min-width: $tp){
					width: $col3;
				}
				@media screen and (min-width: $tl){
					width: $col2;
				}
			}
			.btn-burguernav {
				background-color: transparent;
				border: 0;
				height: 40px;
				width: $col3;
				margin-left: $col3;
				text-align: right;
				> button{
					border: 0;
					display: inline-block;
					height: 40px;
					padding-left: .2rem;
					padding-right: .2rem;
					> i {
						width: 25px;
						height: 3px;
						display: inline-block;
						background-color: $blue;
						position: relative;
						&:after,
						&:before{
							content: "";
							display: block;
							position: absolute;
							background-color: $blue;
							width: 100%;
							height: 100%;
						}
						&:before{
							top: -7px;
						}
						&:after{
							top: 7px;						
						}
					}
				}
				@media screen and (min-width: $ml){
					width: $col2;
					margin-left: $col4;	
				}
				@media screen and (min-width: $tp) {
					display: none;
				}
			}
			.nav_box-head{
				width: $col12;
				// overflow: auto;
				display: none;
				margin-top: 1rem;
				border-top: 1px solid $gray;
				padding-top: 2rem;
				padding-bottom: 2rem;
				.menu-principal{
					> li {
						display: inline-block;
						position: relative;
						width: $col12;
						> a {
							color: white;
							font-weight: 400;
							transition: all ease .4s;
							display: block;
							padding: .5rem 0;
							font-size: 20px;
							@media screen and (min-width: $tp) and (max-width: $tm){
								padding-right: .65rem;
								padding-left: .65rem;
								background: $gray;
								color: white;
								// font-size: 14px;
							}
							@media screen and (min-width: $tl){
								padding: 1.5rem 1rem;
								font-size: 14px;
								position: relative;
								// color: $black;
								&:after{
									content: "";
									width: 0;
									height: 3px;
									position: absolute;
									bottom: 0;
									left: auto;
									right: 0;
									background-color: white;
									transition: .5s;
								}
							}
						}
						> ul {
							visibility: hidden;
							// paddin 
							// display: none;
							opacity: 0;
							// background-color: rgba(37,62,127,.8);
							background-color: rgba(37,62,127,.8);;
							// background-color: rgba(255,255,255,.5);
							position: absolute;
							text-align: left;
							left: 0;
							width: 250%;
							transition:  all ease-out .3s;
							// overflow: hidden;
							// height: 0;
							> li {
								font-size: 14px;
								// color: $;
								// color: white;
								
								> a {				
									font-size: 14px;					
									padding-top: .75rem;
									display: block;
									padding-bottom: .75rem;
									font-weight: 400;
									padding-left: 1rem;
									padding-right: 1rem;
									color: rgba(255,255,255,.8);
									&:hover{
										color: $blue;
										background-color: rgba(255,255,255,.8);
										// background-color: $blue;
										// background-color: rgba(37,62,127,.8);
									}
								}
							}
						}

						@media screen and (min-width: $tp) {
							width: auto;
							margin: .35rem 0 .35rem .5rem;
						}
						@media screen and (min-width: $tl){
							margin: 0 0 0 1rem;
							&:last-child{
								> a {
									padding-right: 0;
								}
							}
							&:hover{
								> a {
									&:after{
										width: 100%;
										left: 0;
										right: auto;
										transition: .5s;
									}

								}
								> ul {
									opacity: 1;
									visibility: visible;
								// 	display: block;
									// height: auto;
									transition:  all ease-in .5s;

								}
							}
						}
						@media screen and (min-width: $desk) {
							margin-left: 1.3rem;
						}
					}
				}
				.navList_socialmedia{
					margin-top: 1rem;
					> span {
						color: $gray;
						font-weight: bold;
						font-size: 16px;
					}
					.menu-socialmedia{
						> li {
							display: inline-block;
							a{
								display: block;
								color: $gray;
								padding: .5rem .5rem .5rem 0rem;
								font-size: 18px;
							}
						}
					}
					@media screen and (min-width: $tp){
						display: none;
					}
				}
				@media screen and (max-width: 768px) {
					overflow: auto;					
				}
				
				@media screen and (min-width: $tp){
					width: $col9;
					text-align: right;
					display: inline-block;
					margin-top: 0;
					border-top: 0;
					padding-top: 0;
					padding-bottom: 0;
				}
				@media screen and (min-width: $tl){
					width: $col10;
				}
			}
		}
		@media screen and (min-width: $tp){
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	

	&.bg-white{
		.header_sup{
			// height: 0;
			// transition: all ease .4s;
			background-color: $blue;
			border-bottom: 0px solid transparent;
		}
		.header_inf{
			background-color: white;
			transition: all ease .4s;
			.container {
				.logo-header{
					> img {
						filter: brightness(1.23);
					}
				}
				.nav_box-head{
					.menu-principal{
						> li {
							> a {
								color: $gray;
								transition: all ease .4s;
								// font-weight: 400;
								// &:hover{
								// 	> a {
										
								// 	}
								// }
								&:after{
									background-color: $blue;
								}
							}
							> ul {
								// background-color: white;
							}
						}
					}
				}
			}
		}
		&::after{
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			content: "";
			position: absolute;
			background-color: $gray2;
			opacity: 0.3;
		}
	}
	
	// margin-bottom: 120vh;
}
.js_header_up{
	// transition: all ease .4s;
	// .header_sup{
	// 	height: 0;
	// 	transition: all ease .4s;
	// 	background-color: $blue;
	// 	border-bottom: 0px solid transparent;
	// }
	
}

.test{
	padding-top: 400px;
	height: 500px; 
	width: 100%; 
	background-color: green; 
	padding-bottom: 30px;
	i {
		height: 0px;
		width: 15px;
		display: block; 
		background-color: brown;
		margin: 0 auto;
		position: relative;
		&:after,
		&:before{
			position: absolute;
			display: block;
			content: "";
			width: 100%;
			height: 2px;
			background-color: white;
		}
		&:after{
			transform: rotate(45deg);
			top: 4px;

		}
		&:before{
			transform: rotate(-45deg);
			top: -5px;

		}
	}
}
.btn-whatsapp,
.btn-whatsapp2{
	position: fixed;
	bottom: 3rem;
	right: 2rem;
	display: block;
	width: 45px;
	line-height: 45px;
	border-radius: 50%;
	font-size: 31px;
	text-align: center;
	background-color: green;
	color: white;
	z-index: 100;
	border: 1px solid white;
	&.icono{
		padding: 0;
		> svg {
			margin: 0;
		}
	}
}
